@define-color foreground #e8bac2;
@define-color background #000000;
@define-color cursor #e8bac2;

@define-color color0 #000000;
@define-color color1 #A05969;
@define-color color2 #C16B7E;
@define-color color3 #BD7A80;
@define-color color4 #CE7688;
@define-color color5 #BE8F86;
@define-color color6 #CC8F8D;
@define-color color7 #e8bac2;
@define-color color8 #a28287;
@define-color color9 #A05969;
@define-color color10 #C16B7E;
@define-color color11 #BD7A80;
@define-color color12 #CE7688;
@define-color color13 #BE8F86;
@define-color color14 #CC8F8D;
@define-color color15 #e8bac2;
